<div ng-controller="ShellCtrl" class="main-shell">

  <md-toolbar>
    <div class="md-toolbar-tools">

      <h2>
          <span>votek</span>
        </h2>
      <span flex=""></span>
      <md-menu>
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon md-menu-origin md-svg-icon="assets/icons/dots-vertical.svg"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="showAddDialog($event)">
              <md-icon md-svg-icon="content:add" md-menu-align-target></md-icon>
              Add
            </md-button>
          </md-menu-item>


        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</div>
