<div ng-include="'components/shell/shell.html'"></div>

<md-list>
  <md-list-item ng-click="moveTo(tree.tree_title)" ng-repeat="tree in trees">
    <p> {{ tree.tree_title }} </p>
  </md-list-item>
</md-list>
<h4>import new tree</h4>
<input type="file" accept=".json" onchange="angular.element(this).scope().onFileChange(this)">
