<md-toolbar>
  <div class="md-toolbar-tools">

    <h2>
        <span ng-click="moveHome()">Tree Visualizer</span>
      </h2>
    <span flex=""></span>

  </div>
</md-toolbar>

<a style="margin-top:50px" href="data:application/json;charset=utf-8,{{encodeJson(tree)}}"
 download="{{tree.tree_title}}.json" title="Download {{tree.tree_title}} as JSON">Export Tree</a>

 <div linear-chart chart-data="salesData"></div>
